body {
    background: cornsilk;
    font-family: sans-serif;
}

.add-note {
    background-color: #fdfdfd;
    border: 1px solid #ccc;
}

.notes {
    margin: 0.5em;
    padding-left: 0;

    max-width: 15em;
    list-style: none;
}

.note {
    margin-bottom: 0.5em; padding: 0.5em;
    background-color: #fdfdfd;
    box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.note:hover {
    box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
    transition: 0.6s;
}
.note .value {
    /* force to use inline-block so that it gets minimum height */
    display: inline-block;
}

.note .delete {
    float: right;
    padding: 0;
    background-color: #fdfdfd;
    border: none;
    cursor: pointer;
    visibility: hidden; }

.note:hover .delete {
    visibility: visible;
}

.lane {
    display: inline-block;
    margin: 1em;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    min-width: 10em;
    vertical-align: top;
}

.lane-header {
    overflow: auto;
    padding: 1em;
    color: #efefef;
    background-color: #333;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.lane-name {
    float: left;
}

.lane-add-note {
    float: right;
    margin-left: 0.5em;
}

.add-lane, .lane-add-note button {
    background-color: #fdfdfd;
    border: 1px solid #ccc;
}